:root {
  width: 100%;
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid black;
}

.navbar > p {
  padding-left: 10px;
}

button {
  border: none;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
}

.navButtons {
  display: inline-block
}
