.weather-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 300px;
}

.weather-image {
    width: 100%;
    height: auto;
}

.pi-play {
    background-color: white;
    padding-right: 6px;
    padding-left: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 15px;
}

.pi-play:hover  {
    background-color: rgb(173, 235, 255);
}

.play-button {
    position: absolute;
    top: 40px;
    right: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
}